.visit-site-button {
    background-color: #1E3F66;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.visit-site-button:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.food-pic{
    width: 300px;
    height: 250px;
    background-size: cover;
}