#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}


body {
background-image: url(../assets/city-views.jpg);
background-size: 171%;
}

h1{
  font-size: 60px;
  color: #1E3F66;
  text-shadow: 2px 2px 8px white;
}

.food-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.EatPlace {
  width: 300px;
  margin: 30px;
  padding: 0 0 20px 0;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.5);
}
